$primary: #4f5eff;
$dark-gray: #1a1a1a;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

h1 {
    color: $primary;
}

* {
    box-sizing: border-box;
}